.new-expense--button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

.new-expense--button button {
  display: inline-block;
  width: 20rem;
  height: 10rem;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 1.2rem;
  border: none;
  cursor: pointer;
  background-color: #911491;
  color: white;
}

.new-expense--button button:hover {
  background-color: rgba(145, 20, 145, 0.73);
}
