.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  padding: 1rem;
  margin: 2rem;
}

.expense-item__description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex: 1;
  font-size: 1.6rem;
}

.expense-item h2 {
  color: white;
  flex: 1;
  margin: 0 1rem;
}

.expense-item__price {
  color: white;
  font-size: 3.2rem;
  font-weight: bold;
  background-color: purple;
  border: 0.1rem solid white;
  padding: 0.8rem;
  border-radius: 1.2rem;
}
