.new-expense__controls {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.new-expense__control {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.new-expense__control label {
  font-weight: bold;
}

.new-expense__control input {
  display: inline-block;
  height: 3rem;
  border-radius: 1.2rem;
  border: 0;
  padding: 1rem;
}

.new-expense__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.new-expense__actions button {
  padding: 1rem;
  border-radius: 1.2rem;
  border: none;
  cursor: pointer;
  background-color: #911491;
  color: white;
}

.new-expense__actions button:hover {
  background-color: rgba(145, 20, 145, 0.73);
}
